@use "typography";
@use "header";
@use "main";
@use "long-term";

:root {
  --black: #000000;
  --white: #ffffff;
  --weight-thin: 200;
  --weight-regular: 400;
  --weight-bold: 700;

  font-family: "Montserrat", sans-serif;
  color: var(--white);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input {
  all: unset;
}

::placeholder {
  color: var(--black);
}

html {
  min-height: 100%;
}

body {
  margin: 0px;
  background: linear-gradient(180deg, #62c2c8 0%, rgba(118, 246, 255, 0.247) 100%);
}
